/* ========================================
   SAI Common css
======================================== */
body {
    font-family: var(--sai-font-family);
}


/* ========================================
SAI Header
======================================== */
.sai-header {
    .sai-header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: var(--space-3);
        border-bottom: 1px solid var(--color-primary-soft);
    }

    .sai-header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--color-text-primary);
    }
}

.sai-header {
    .sai-header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: var(--space-3);
        border-bottom: 1px solid var(--color-primary-soft);
    }

    .sai-header__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--color-text-primary);
        .sai-header__logo-link {
            display: flex;
            align-items: center;
            justify-content: center;
            .sai-header__logo-image {
                width: clamp(18px, 3vw, 44px);
            }
            .sai-header__logo-text {
                font-size: var(--font-size-2xl);
            }
        }
    }
    .sai-header__util {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-3);
        .sai-header__credit {
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-md);
            .sai-header__credit-status {

            }
        }
    }



    .sai-header__credit-ico {}

    .sai-header__credit-label {}

    .sai-header__credit-value {}

    .sai-header__theme {}

    .sai-header__button {}

    .sai-header__button--light {}

    .sai-header__button--dark {}

    .sai-header__button--setting {}

    .sai-header__button--user {}

    .sai-header__button-ico {}

    .sai-header__button-text {}
}